In [1]:
import pandas as pd
import numpy as np

import pickle
import json

In [2]:
# load model

# load model yang udah dibuat
with open('model_linear_regression.pkl', 'rb') as file_1:
    model = pickle.load(file_1)

# load scaler yang sudah di fit
with open('scaler.pkl', 'rb') as file_2:
    scaler = pickle.load(file_2)

#  load encoder yang sudah di fit
with open('encoder.pkl', 'rb') as file_3:
    encoder = pickle.load(file_3)

# load nama kolom
with open('numerical_columns.txt', 'r') as file_4:
    num_cols = json.load(file_4)

with open('categorical_columns.txt', 'r') as file_5:
    cat_cols = json.load(file_5)

In [6]:
danis = {
 'Name': 'danis',
 'Age': 48,
 'Height': 173,
 'Weight': 48,
 'Price': 50000,
 'AttackingWorkRate': 'High',
 'DefensiveWorkRate': 'Low',
 'PaceTotal': 99,
 'ShootingTotal': 99,
 'PassingTotal': 99,
 'DribblingTotal': 99,
 'DefendingTotal': 99,
 'PhysicalityTotal': 99}

df = pd.DataFrame([danis])

In [7]:
df

,Name,Age,Height,Weight,Price,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,danis,48,173,48,50000,High,Low,99,99,99,99,99,99

In [8]:
# scaling
df_scaled = scaler.transform(df[num_cols])

In [9]:
# encoding
df_encoded = encoder.transform(df[cat_cols])

In [10]:
df_final = np.concatenate([df_scaled, df_encoded], axis =1)
df_final

array([[ 8.42105263e-01,  3.52941176e-01, -1.63934426e-02,
         3.63636364e-04,  1.04411765e+00,  1.06578947e+00,
         1.08823529e+00,  1.12307692e+00,  1.10389610e+00,
         1.11475410e+00,  2.00000000e+00,  0.00000000e+00]])

In [11]:
# menyimpan hasil prediksi
prediction = model.predict(df_final)

In [19]:
print(f'Rating dari player {df["Name"][0]} adalah {int(prediction[0])}')

Rating dari player danis adalah 96