# Model Inference FIFA

Nama = Stanly

Batch = RMT_36

In [27]:
# import libraries
import pickle
import json
import pandas as pd
import numpy as np

In [28]:
# Load the files!

with open('model_linear.pkl', 'rb') as file_1: # rb = read binary
  model_linear = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2: # rb = read binary
  scaler = pickle.load(file_2)

with open('model_encoder.pkl', 'rb') as file_3:
  encoder = pickle.load(file_3)

with open('num_col.txt', 'r') as file_4:
  num_col = json.load(file_4)

with open('cat_col.txt', 'r') as file_5:
  cat_col = json.load(file_5)

In [29]:
# Create data inference
df_inf = {'Name': 'Stanly', 
          'Age': 28, 
          'Height': 169, 
          'Weight': 84, 
          'Price': 1000000, 
          'AttackingWorkRate': "Low",
          'DefensiveWorkRate': "High", 
          'PaceTotal': 40, 
          'ShootingTotal': 55, 
          'PassingTotal': 80,
          'DribblingTotal': 65, 
          'DefendingTotal': 70, 
          'PhysicalityTotal': 70
        }

df_inf = pd.DataFrame([df_inf])

In [30]:
df_inf

,Name,Age,Height,Weight,Price,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Stanly,28,169,84,1000000,Low,High,40,55,80,65,70,70

In [31]:
# Split num cat col
df_inf_num = df_inf[num_col]
df_inf_cat = df_inf[cat_col]

In [32]:
# Scaling
df_inf_num_scaled = scaler.transform(df_inf_num)

In [33]:
# encoding
df_inf_cat_encoded = encoder.transform(df_inf_cat)

In [34]:
# concat
df_inf_final = np.concatenate([df_inf_cat_encoded, df_inf_num_scaled], axis=1)

In [36]:
# predict
result = model_linear.predict(df_inf_final)

print(f'Prediksi pemain FIFA bernama {df_inf['Name'][0]} adalah {result[0]}')

Prediksi pemain FIFA bernama Stanly adalah 68.99299658860852