# Model Inference FIFA

Nama = Vincent

Batch = RMT_36

In [1]:
# import libraries
import pickle
import json
import pandas as pd
import numpy as np

In [6]:
# load the files!
with open('model_lin.pkl','rb') as file_1: #rb = read binary
    model_lin = pickle.load(file_1)

with open('model_scaler.pkl','rb') as file_2: #rb = read binary
    scaler = pickle.load(file_2)

with open('model_encoder.pkl','rb') as file_3: #rb = read binary
    encoder = pickle.load(file_3)

with open('num_col.txt','r') as file_4: #rb = read 
    num_col= json.load(file_4)

with open('cat_col.txt','r') as file_5: #rb = read 
    cat_col = json.load(file_5)

In [7]:
# Create data inference
df_inf = {'Name':'Vincent', 
          'Age':17, 
          'Height':185, 
          'Weight':65, 
          'Price':1000000, 
          'AttackingWorkRate':'Low',
          'DefensiveWorkRate':'High', 
          'PaceTotal':40, 
          'ShootingTotal':55, 
          'PassingTotal':80,
          'DribblingTotal':65, 
          'DefendingTotal':70, 
          'PhysicalityTotal':70}

df_inf = pd.DataFrame([df_inf])

In [8]:
df_inf

,Name,Age,Height,Weight,Price,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Vincent,17,185,65,1000000,Low,High,40,55,80,65,70,70

In [9]:
# split num cat col
df_inf_num = df_inf[num_col]
df_inf_cat = df_inf[cat_col]

In [10]:
# scaling
df_inf_num_scaled = scaler.transform(df_inf_num)

In [12]:
# encoding
df_inf_cat_encoded = encoder.transform(df_inf_cat)

In [13]:
# concat
df_inf_final = np.concatenate([df_inf_cat_encoded,df_inf_num_scaled], axis=1)

In [18]:
# predict
result = model_lin.predict(df_inf_final)

print(f'Prediksi pemain FIFA bernama {df_inf["Name"][0]} adalah {round(result[0],2)}')

Prediksi pemain FIFA bernama Vincent adalah 67.04