In [1]:
import pandas as pd

In [9]:
data_ngc = pd.read_csv("https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/data_ngc.csv")
print(data_ngc.info())
data_ngc.isna().sum()
data_ngc.drop(columns="fips")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  9078 non-null   object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  fips            0 non-null      float64
 11  admin2          0 non-null      float64
 12  combined_key    11793 non-null  object
dtypes: float64(8), object(5)
memory usage: 1.2+ MB
None

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,NaN,"Pahang, Malaysia"